<ion-header [translucent]="true">
  <!--TOOLBAR MOBILE-->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'maps' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<!--TOOLBAR FULLSCREEN-->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{'maps' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--MAPS-->
  <div id="map" ></div>
</ion-content>
